body {
}

a,
a:visited {
    text-decoration: none;
    color: #2f5baa;
}
a:hover {
    color: #99cafb;
}

#container {
    width: 960px;
    margin: auto;
}

#hi-whoami,
#id-servizio-lista,
#id-servizio,
#id-not-found
 {
    font-family: "Garamonds";
    font-weight: normal;
    font-size: 4em;
}

#whoami-image {
    width: 32px;
    height: 32px;
}

#cards {
    display: flex;
    justify-content:space-between;
}

.linux,
.apache,
.mysql,
.php
{
    width: 480px;
    height: 200px;
    display: inline-flex;
    border: 1px solid grey;
    font-family: "Garamonds", serif, sans-serif;
    font-weight: normal;
    font-size: 2em;
}

button#send-email {
    background-color: rgb(47, 91, 170);
    color: #fff;
    border-radius: 15px;
    border: none;
    padding: 8px 20px;
    font-size: 13px;
}

.flex-nav {
    display: flex;
    justify-content: space-between;
}

.flex-nav>a {
    display: inline-flex;
    width:fit-content;
}

.flex-gap-nav-item {
    gap: 20px;
    display: flex;
}

#contact-me {
    display: inline-flex;
    margin-top: 100px;
}

#contact-me>p {
    margin-top: 7px;
    margin-left: 10px;
}
hr {
    border-top: 1px solid #555;
}

button:hover {
    background-color: #2f5baa !important;
}